.benefits {
  background-color: $alabaster;

  &__title {
    margin: 0 auto 80px;
    max-width: 841px;
  }

  &__item {
    position: relative;
    border-radius: 40px 0;
    padding-top: 48px;
    width: 185px;
    height: 185px;
    box-shadow: 0 13px 16px rgba($black, 0.1);
    text-align: center;
    background: $white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 105px;
      height: 92px;
    }

    &:last-child {
      &::before,
      &::after {
        content: none;
      }
    }

    &:nth-child(odd) {
      &::before {
        right: -105px;
        top: 50%;
        border-top: 2px solid $alto;
        border-right: 2px solid $alto;
      }

      &::after {
        right: -210px;
        top: 50%;
        border-bottom: 2px solid $alto;
      }
    }

    &:nth-child(even) {
      margin-top: 92px;

      &::before {
        right: -105px;
        top: 0;
        border-right: 2px solid $alto;
        border-bottom: 2px solid $alto;
      }

      &::after {
        right: -210px;
        top: 0;
        border-top: 2px solid $alto;
      }
    }
  }

  &__num {
    display: block;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $dove-gray;
  }
}
