.img-border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid $limed-oak;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transform: translate(24px, 24px);
    transition: transform 0.3s;
    pointer-events: none;
  }

  &:hover {
    &::before {
      transform: translate(12px, 12px);
    }
  }

  &--invert {
    &::before {
      transform: translate(-24px, -24px);
    }

    &:hover {
      &::before {
        transform: translate(-12px, -12px);
      }
    }
  }
}
