.img-border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: -1;
    border: 2px solid $limed-oak;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    pointer-events: none;
  }

  &:hover {
    &::before {
      transform: translate(-12px, -12px);
    }
  }
}
