.nav {
  margin-right: 56px;
  margin-left: auto;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    outline: transparent;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: $mine-shaft;
    transition: color 0.3s, transform 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: $viridian;
      transition: left 0.3s, width 0.3s;
    }

    &:focus {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    &:hover {
      color: $dove-gray;
    }

    &:active {
      transform: translateY(-10px);
    }
  }
}
