.caption {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $dove-gray;
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
  color: $mine-shaft;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $dove-gray;
}
