<section class="about s-offset">
  <div class="container flex flex--a-center">
    <div class="about__image img-border img-border--invert"></div>
    <div class="about__info">
      @include('../components/head-section.html', { "caption": "About us",
      "title": "Interiors the will of an epoch Mextreo " })
      <p class="about__text text">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form injected humour, or
        randomised words which don't look even slightly believable.If you are
        going to use a passage of Lorem Ipsum, sure there isn't anything
        embarrassing hidden the middleof text. All the Lorem Ipsum generators on
        the Internettend to repeat predefined chunks as necessary,making this
        the first true generator on the Internet.
      </p>
      <button class="btn btn--md btn-reset">Learn more</button>
    </div>
  </div>
</section>
