<section class="benefits s-offset">
  <div class="container">
    <h2 class="benefits__title title centered">
      3000+ Completed Work Which we have Succsessfuly Done
    </h2>
    <ul class="benefits__list list-reset flex flex--j-space">
      <li class="benefits__item">
        <span class="benefits__num">980</span>
        <span class="benefits__name">Project</span>
      </li>
      <li class="benefits__item">
        <span class="benefits__num">520</span>
        <span class="benefits__name">Happy client</span>
      </li>
      <li class="benefits__item">
        <span class="benefits__num">330</span>
        <span class="benefits__name">Winners</span>
      </li>
      <li class="benefits__item">
        <span class="benefits__num">120</span>
        <span class="benefits__name">Recoment</span>
      </li>
    </ul>
  </div>
</section>
