<section class="contact s-offset">
  <div class="container centered">
    <h2 class="contact__title title">Don’t forget to sign up</h2>
    <p class="contact__text text">
      Find out early about all upcoming promotions and new product releases with
      our newsletter.
    </p>
    <form class="contact__form flex flex--a-center" action="#">
      <label class="contact__label">
        <input
          class="contact__input input-reset"
          name="e-mail"
          type="email"
          placeholder="Enter your email address..."
        />
      </label>
      <button class="btn btn--md btn-reset" type="submit">Subscribe</button>
    </form>
  </div>
</section>
