<section class="hero">
  <div class="container flex flex--a-center flex--j-space">
    <div class="hero__content">
      <span class="hero__caption caption"> Modern interface </span>
      <h1 class="hero__title main-title">Create your interior design.</h1>
      <p class="hero__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button class="btn btn--md btn-reset" type="button">Contact</button>
    </div>
    <div class="hero__image img-border"></div>
  </div>
</section>
