<section class="services s-offset">
  <div class="container">
    @include('../components/head-section.html', { "caption": "What we do",
    "title": "Our service" })
    <div class="services__slider services-slider">
      @include("../components/slider-btns.html")
      <ul class="services-slider__list list-reset flex">
        <li class="services-slider__item flex">
          <svg class="services-slider__icon">
            <use xlink:href="./images/sprite.svg#bed"></use>
          </svg>
          <div class="services-slider__info">
            <h3 class="services-slider__title">Interior Design</h3>
            <p class="services-slider__text text">
              Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
              tempor incididunt ut labore.
            </p>
          </div>
        </li>
        <li class="services-slider__item flex">
          <svg class="services-slider__icon">
            <use xlink:href="./images/sprite.svg#architecture"></use>
          </svg>
          <div class="services-slider__info">
            <h3 class="services-slider__title">Architecture</h3>
            <p class="services-slider__text text">
              Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
              tempor incididunt ut labore.
            </p>
          </div>
        </li>
        <li class="services-slider__item flex">
          <svg class="services-slider__icon">
            <use xlink:href="./images/sprite.svg#list"></use>
          </svg>
          <div class="services-slider__info">
            <h3 class="services-slider__title">Planing</h3>
            <p class="services-slider__text text">
              Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
              tempor incididunt ut labore.
            </p>
          </div>
        </li>
        <li class="services-slider__item flex">
          <svg class="services-slider__icon">
            <use xlink:href="./images/sprite.svg#bed"></use>
          </svg>
          <div class="services-slider__info">
            <h3 class="services-slider__title">Interior Design</h3>
            <p class="services-slider__text text">
              Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
              tempor incididunt ut labore.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
