<section class="shop s-offset">
  <div class="container flex flex--a-center">
    <div class="shop__info">
      <picture>
        <source srcset="./images/20.avif" type="image/avif">
        <source srcset="./images/20.webp" type="image/webp">
        <img class="shop__old" loading="lazy" src="./images/20.png" alt="20 years work">
      </picture>
      <h2 class="shop__title title">
        Years of successful Working The Market
      </h2>
      <button class="btn btn--md btn-reset" type="button">Read more</button>
    </div>
    <div class="shop__image img-border"></div>
  </div>
</section>