<footer class="footer s-offset">
  <div class="container flex flex--j-space">
    <div class="footer__info">
      @include("./logo.html")
      <p class="footer__text text">
        But i must explain to you all this mistaken idea of dencouncing
        pleasure.
      </p>
    </div>
    <ul class="footer__cols list-reset flex flex--j-space">
      <li class="footer__col">
        <h3 class="footer__caption">Quick links</h3>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link" href="#">About our Company</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Services We provide</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Career & opportunity</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Privacy & policy</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Contact us</a>
          </li>
        </ul>
      </li>
      <li class="footer__col">
        <h3 class="footer__caption">Company</h3>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link" href="#">About Company</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Our Testimonials</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Career & opportunity</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Latest News</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Our misson</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Get a free Quot</a>
          </li>
        </ul>
      </li>
      <li class="footer__col">
        <h3 class="footer__caption">Contact us</h3>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link" href="#"
              >Sagrada Familia, Herba Street Front USA</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:brandoxide@gmail.com"
              >brandoxide@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="tel:002568423591">002-568423591</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer__scials">
      <h3 class="footer__caption">Follow us</h3>
      <div class="socials">
        <ul class="socials__list list-reset flex flex--a-center">
          <li class="socials__item">
            <a class="socials__link flex flex--center" href="#">
              <svg class="socials__icon">
                <use xlink:href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link flex flex--center" href="#">
              <svg class="socials__icon">
                <use xlink:href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link flex flex--center" href="#">
              <svg class="socials__icon">
                <use xlink:href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link flex flex--center" href="#">
              <svg class="socials__icon">
                <use xlink:href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copy centered">
    <span>
      Copyright @ 2020
      <a class="footer__link" href="#">Brandoxide</a>
      all right reserved
    </span>
  </div>
</footer>
