<nav class="nav" title="menu">
  <ul class="nav__list list-reset flex flex--a-center">
    <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Project</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Services</a></li>
    <li class="nav__item"><a class="nav__link" href="#">About</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Shop</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
  </ul>
</nav>